@import "@/styles/mixins.scss";

@mixin vars() {
  --grad: hsl(from var(--dark-burgundy) h s l / 0.4) 0%,
    hsl(from var(--dark-burgundy) h s l / 0.1) 50%;

  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --heading-padding-top: var(--pad-2);
  }

  @media (min-width: $desktop) {
    --heading-padding-top: 0;
  }
}

.wrapper {
  position: relative;
}

.version1 {
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  background: linear-gradient(
    120deg,
    transparent 0,
    hsl(from var(--light-burgundy) h s l / 0.3) 70%
  );
  //how do I add blur filter?
  backdrop-filter: blur(var(--pad-2));
}

.version2 {
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  background: var(--light-burgundy);

  > * {
    z-index: 1;
  }
  // h3 {
  //   padding-top: var(--heading-padding-top);
  // }
  // overflow: hidden;
  .backgroundImage {
    z-index: 0;
    opacity: 0.85;
    border-radius: var(--border-radius);
    position: absolute !important;
    width: calc(100% * 2 / 5) !important;
    top: 0;
    bottom: 0;
    left: 0;
    &:after {
      content: "";
      @include absoluteFill;
      background: linear-gradient(
        88deg,
        hsl(from var(--light-burgundy) h s l / 0.2) 0%,
        var(--light-burgundy) 100%
      );
    }
  }
}

.version3 {
  border: var(--pad-1) solid var(--light-burgundy);
  border-width: var(--pad-1) 0;
  backdrop-filter: blur(var(--pad-1));
}

.starWrapper1 {
  position: absolute;
  top: -10px;
  left: 20px;
  svg {
    path {
      fill: var(--light-burgundy);
    }
  }
}

.starWrapper2 {
  position: absolute;
  bottom: -20px;
  right: 20px;
  svg {
    path {
      fill: var(--cream-white);
    }
    filter: drop-shadow(
      0px 0px 2px hsl(from var(--light-burgundy) h s l / 0.75)
    );
  }
}

.starWrapper3 {
  position: absolute;
  bottom: -10px;
  right: 20px;
}
