@import "@/styles/mixins.scss";

@mixin vars() {
  --version-2-columns: 1;
  --aspect-ratio: 1;
  @media (min-width: $tablet) {
    --version-2-columns: 2;
    --aspect-ratio: 4/3;
  }

  @media (min-width: $laptop) {
    --aspect-ratio: 16/9;
  }

  @media (min-width: $desktop) {
    --version-2-columns: 4;
  }
}

.container {
  @include vars;
  .image {
    aspect-ratio: var(--aspect-ratio);
    width: 100% !important;
    box-shadow: var(--light-shadow);
    border-radius: var(--border-radius);
  }
  .priceWrapper {
    display: grid !important;
    align-items: stretch !important;
    grid-template-columns: repeat(var(--version-2-columns), 1fr);
  }

  @media (min-width: $desktop) {
    .wrapper {
      flex-direction: row-reverse !important;
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      > * {
        &:last-child {
          width: auto !important;
          grid-column: span 1 !important;
          height: 100% !important;
          order: 0;
        }

        &:first-child {
          grid-column: span 2 !important;
          width: 100% !important;
          order: 1;
        }
      }
    }
  }
}
