@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --ratio: 1;
  @media (min-width: $tablet) {
    --ratio: 1;
  }
  @media (min-width: $laptop) {
    --ratio: 4/3;
  }
}

.article {
  @include vars;

  .heading {
    row-gap: var(--pad-6);
    @media (min-width: $tablet) {
      flex-direction: row !important;
      position: relative;
      > *:last-child {
        margin-left: calc(var(--pad-5) * -1);
        transform: translateY(var(--pad-5));
      }
    }
    @media (min-width: $laptop) {
      &::after {
        content: "";
        height: 100%;
        width: 100%;
      }
      > *:last-child {
        margin: 0;
        top: var(--random-translate-y);
        position: absolute;
        right: 0;
        width: 55% !important;
      }
      // align-items: stretch !important;
    }

    .imgWrapper {
      figure {
        aspect-ratio: var(--ratio);

        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--light-shadow);
      }
      p {
        font-style: italic;
      }
    }
  }
}
