@import "@/styles/mixins.scss";

@mixin vars() {
  --button-width: 100%;
  --button-min-width: auto;
  --button-padding: var(--pad-4);
  --button-padding-small: var(--pad-4);
  --text-height: 32px;
  --text-height-small: 24px;

  @media (min-width: $tablet) {
    --button-min-width: 120px;
    --button-width: fit-content;
    --button-height-small: 32px;
    --button-padding-small: var(--pad-4);
  }

  @media (min-width: $laptop) {
    --text-height: var(--text-height-small);
  }

  @media (min-width: $desktop) {
    --text-height: 32px;
  }
}

.button {
  @include vars;
  @include flex;

  position: relative;
  padding: 8px;
  min-width: var(--button-min-width);
  width: var(--button-width);
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 100px;
  transition: var(--transition-time);

  .textWrapper {
    @include flex;
    height: var(--text-height);
    padding: 2px var(--button-padding) 0px var(--button-padding);
    box-sizing: border-box;
    line-height: 0.8em !important;
  }
  &:not(.disabled) {
    &.primary {
      background: var(--burgundy);
      &:hover {
        box-shadow: 0px 0px 12px 0px #e67da5;
      }
    }

    &.transparent {
      background: hsl(from var(--cream-white) h s l / 0.45);
      border: var(--pad-1, 2px) solid var(--burgundy, #853d57);
      backdrop-filter: blur(var(--pad-1));
      padding: 6px;
      &:hover {
        background: var(--burgundy);
        > * {
          color: var(--cream-white) !important;
        }
        svg,
        path,
        polygon {
          fill: var(--cream-white) !important;
        }
      }
    }

    &.extra {
      background: var(--light-burgundy);
      min-width: auto !important;
      width: auto;
      &:hover {
        background: var(--burgundy);
        > * {
          color: var(--light-burgundy) !important;
        }
        svg,
        path,
        polygon {
          fill: var(--light-burgundy) !important;
        }
      }
    }

    &.white {
      background: var(--cream-white);
      min-width: auto !important;
      width: auto;
      &:hover {
        // background: var(--burgundy);
        > * {
          color: var(--darkest-burgundy) !important;
        }
        svg,
        path,
        polygon {
          fill: var(--darkest-burgundy) !important;
        }
      }
    }

    &.onlyIcon {
      min-width: var(--text-height) !important;
      height: var(--text-height);
      width: var(--text-height) !important;
      box-sizing: content-box;
      &.small {
        height: var(--text-height-small) !important;
        width: var(--text-height-small) !important;
        box-sizing: border-box;
      }
    }

    &.withIcon {
      gap: var(--pad-3);
      &.iconRight {
        > * {
          &:first-child {
            padding-right: 0px;
          }
          &:last-child {
            padding-right: var(--pad-1);
          }
        }
      }
      &.iconLeft {
        > * {
          &:first-child {
            padding-left: 0px;
          }
          &:last-child {
            padding-left: var(--pad-1);
          }
        }
      }
    }

    &.small {
      min-width: auto !important;

      .textWrapper {
        height: var(--text-height-small) !important;
      }
    }
  }

  &.disabled {
    background: var(--light-burgundy-30) !important;
    cursor: not-allowed;
    pointer-events: none;
  }
}
