@import "@/styles/mixins.scss";

@mixin vars() {
  --button-width: 100%;
  --button-min-width: auto;
  --button-padding: var(--pad-4);
  --button-padding-small: var(--pad-4);
  --transition-time: 0.7s;

  @media (min-width: $tablet) {
    --button-min-width: 120px;
    --button-width: fit-content;
    --button-height-small: 32px;
    --button-padding-small: var(--pad-4);
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
  }
}

.button {
  @include vars;
  @include flex;

  position: relative;
  padding: 8px;
  min-width: var(--button-min-width);
  width: var(--button-width);
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 100px;
  transition: 300ms;

  .textWrapper {
    @include flex;
    height: 32px;
    padding: 2px var(--button-padding) 0px var(--button-padding);
    box-sizing: border-box;
  }

  &:disabled {
    cursor: not-allowed;
    background: var(--grey) !important;
  }

  &.primary {
    background: var(--burgundy);
    &:hover {
      box-shadow: 0px 0px 12px 0px #e67da5;
    }
  }

  &.transparent {
    background: hsl(from var(--cream-white) h s l / 0.15);
    border: var(--pad-1, 2px) solid var(--burgundy, #853d57);
    backdrop-filter: blur(calc(var(--pad-3, 8px) / 2));
    padding: 6px;
    &:hover {
      background: var(--burgundy);
      > * {
        color: var(--cream-white) !important;
      }
      svg,
      path,
      polygon {
        fill: var(--cream-white) !important;
      }
    }
  }

  &.extra {
    background: var(--light-burgundy);
    min-width: auto !important;
    width: auto !important;
    &:hover {
      background: var(--burgundy);
      > * {
        color: var(--light-burgundy) !important;
      }
      svg,
      path,
      polygon {
        fill: var(--light-burgundy) !important;
      }
    }
  }

  &.withIcon {
    min-width: fit-content;
  }

  &.small {
    min-width: auto !important;
    padding: 0 var(--button-padding-small);
    transition: 100ms;
  }
}
