@import "../../styles/mixins.scss";

@mixin sizing($size) {
  font-size: var(--heading-h#{$size});
  line-height: var(--heading-h#{$size}-line);
}

@mixin level($desk, $lap, $tab, $mob) {
  @include sizing($mob);

  @media (min-width: $tablet) {
    @include sizing($tab);
  }

  @media (min-width: $laptop) {
    @include sizing($lap);
  }

  @media (min-width: $desktop) {
    @include sizing($desk);
  }
}

.heading {
  text-decoration: none !important;
  &.clickable {
    &:hover {
      color: var(--burgundy) !important;
    }
  }

  @for $i from 1 through 4 {
    &.level#{$i} {
      @include level($i, $i + 1, $i + 1, $i + 2);
    }
  }
  &.level5 {
    @include level(5, 6, 6, 6);
  }
  &.level6 {
    @include level(6, 6, 6, 6);
  }
}
