@import "../../styles/mixins.scss";

.modal {
  width: auto;

  cursor: auto;
  position: relative;

  .closeButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
  }
  &.default {
    background: var(--cream-white);
    max-width: var(--screen-width-large);
    border-radius: var(--border-radius-large);
    box-shadow: var(--light-shadow);
  }
  &.image {
    width: 100%;
    @media (min-width: $laptop) {
      max-width: 50vw;
    }
    .modalContainer {
      > * {
        border-radius: var(--border-radius-large);
        box-shadow: var(--light-shadow);
      }
    }
  }
}
