@import "../../../../styles/mixins.scss";

.reviews {
  --max-width: 300px;

  column-gap: var(--pad-8) !important;
  .review {
    z-index: 0;
    flex: 1;
    max-width: 300px;
    &:last-child {
      // grid-column: 1 / -1;
      justify-self: center;
      // margin: 0 auto;
    }
  }
}
