@import "@/styles/mixins.scss";

@mixin vars() {
  --button-margin-left: 0;

  @media (min-width: $tablet) {
    --button-margin-left: 41px;
  }
  @media (min-width: $laptop) {
    --button-margin-left: 40px;
  }

  @media (min-width: $desktop) {
    --button-margin-left: 46px;
  }
}

.form {
  @include vars;
  @include flexColumn(flex-start, flex-start);

  gap: var(--pad-5);
  width: 100%;
  padding-bottom: var(--pad-5);

  .formTitles {
    padding-left: var(--button-margin-left) !important;
  }
  button {
    margin-left: var(--button-margin-left);
  }

  .submitWrapper {
    position: relative;
    width: 100%;
    @media (min-width: $tablet) {
      width: auto;
    }
  }
}

.step {
  .number {
    font-size: var(--heading-h5) !important;
    line-height: var(--heading-h5-line) !important;
    min-width: 32px;
  }
  .stepContent {
    flex: 1 1 auto;
  }
}
