// @import-normalise;
@use "@/styles/mixins.scss" as *;

:root {
  --tablet: 640px;
  --laptop: 1200px;
  --desktop: 1680px;

  --transition-time: 200ms;

  --white: #ffffff;
  --black: #2b2b33;
  --green: #38d430;
  --blue: #5090ff;
  --turquoise: #44b297;
  --grad: linear-gradient(90deg, var(--green) 0%, var(--blue) 100%);
  --error: #ff0000;

  // --light-shadow: 0px 0px 4px 0px hsl(from var(--burgundy) h s l / 0.25);
  // --text-shadow: 0px 0px 8px rgba(87, 40, 57, 0.5);
  // --drop-shadow: 3px 3px 4px 0px hsl(from var(--light-burgundy) h s l / 0.35);

  --border-radius: 8px;
  --border-radius-large: calc(var(--border-radius) * 2);
  --border-radius-small: calc(var(--border-radius) / 2);
  --phi: 1.61803398875;
  --blur: blur(calc(var(--pad-3, 8px) / 2));

  --pad-0: 0px;
  --pad-1: 2px;
  --pad-2: 4px;
  --pad-3: 8px;
  --pad-4: 16px;
  --pad-5: 24px;
  --pad-6: 32px;
  --pad-7: 48px;
  --pad-8: 64px;
  --pad-9: 96px;
  --pad-10: 128px;
  --pad-11: 192px;
  --pad-12: 256px;
  --pad-13: 320px;

  --heading-h1: 256px;
  --heading-h2: 178px;
  --heading-h3: 110px;
  --heading-h4: 68px;
  --heading-h5: 58px;
  --heading-h6: 36px;

  --heading-h1-line: 0.9em;
  --heading-h2-line: 0.9em;
  --heading-h3-line: 0.9em;
  --heading-h4-line: 1.1em;
  --heading-h5-line: 1.1em;
  --heading-h6-line: 1.1em;

  --paragraph-big: 26px;
  --paragraph-regular: 16px;
  --paragraph-small: 12px;

  --navbar-height: 100px;
  --content-bottom-padding: var(--pad-9);
  --screen-width-large: calc(100vw - var(--pad-6));

  @media (min-width: $tablet) {
    --screen-width-large: calc(100vw - var(--pad-9));
  }

  @media (min-width: $laptop) {
    --content-bottom-padding: var(--pad-10);
    --screen-width-large: calc(100vw - var(--pad-11));
  }

  @media (min-width: $desktop) {
    --navbar-height: 120px;
    --screen-width-large: calc(var(--desktop) - var(--pad-12));
  }
}

html,
body,
#root {
  height: 100%;
}

img {
  margin: 0;
}
