@import "@/styles/mixins.scss";

@mixin vars() {
  --heading-font-size: var(--heading-h6);
  --heading-line-height: var(--heading-h6-line);
  --font-size-big: var(--paragraph-regular);

  @media (min-width: $tablet) {
    --heading-font-size: var(--heading-h5);
    --heading-line-height: var(--heading-h5-line);
    --font-size-big: var(--heading-h6);
  }
}

.blockquote {
  border-left: 2px solid var(--light-burgundy);
  padding-top: 0.2em;
  padding-left: 0.5em;
  margin-bottom: var(--pad-3);
}

.underline {
  text-decoration: underline;
}

.link {
  color: var(--burgundy);
  text-decoration: underline !important;

  &:hover {
    color: var(--burgundy);
    text-decoration: none;
  }
}

.heading {
  @include vars;
  font-size: var(--heading-font-size) !important;
  line-height: var(--heading-line-height) !important;
}

.listItem {
  @include vars;
  font-size: var(--font-size-big);
  line-height: 1.25em;
}
.numberedList {
  margin-bottom: var(--pad-3);
  .listItem {
    list-style: decimal;
    &.letter {
      list-style-type: lower-alpha;
    }
  }
}

.bulletedList {
  margin-bottom: var(--pad-3);
  .listItem {
    list-style-type: disc;
    &.letter {
      list-style-type: circle;
    }
  }
}
