@import "@/styles/mixins.scss";

.title {
  // .part1,
  // .part2 {
  //   margin-top: 0.01em;
  // }
  .part2 {
    text-shadow: var(--text-shadow);
    position: relative;
  }
}

.blocker {
  .part2 {
    &::after {
      content: "";

      background: linear-gradient(
        to bottom,
        transparent 0%,
        var(--cream-white) 85%
      );
      width: 100% !important;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-100%);
    }
  }
}

.overflowing {
  position: relative;

  @media (min-width: $tablet) {
    overflow: hidden;
  }
  .part2.rightAligned {
    &::after {
      content: none !important;
    }
  }
}

.rightAligned {
  position: absolute !important;
  right: 0;
  bottom: 0;
}

.reverse.overflowing {
  justify-content: flex-start !important;
}
