@import "@/styles/mixins.scss";

@mixin vars() {
  --heading-font-size: 42px;
  --paragraph-font-size: 30px;
  --top-span: 3px;
  @media (min-width: $tablet) {
    --heading-font-size: 64px;
    --top-span: 5px;
  }

  @media (min-width: $laptop) {
    --paragraph-font-size: 32px;
  }

  @media (min-width: $desktop) {
    --paragraph-font-size: 40px;
    --top-span: 8px;
    --heading-font-size: 90px;
  }
}

.title {
  .part1,
  .part2 {
    margin-top: 0.01em;
  }
  .part2 {
    text-shadow: var(--text-shadow);
    position: relative;
  }
}

.blocker {
  .part2 {
    &::after {
      content: "";

      background: linear-gradient(
        to bottom,
        transparent 0%,
        var(--cream-white) 85%
      );
      width: 100% !important;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-100%);
    }
  }
}

.overflowing {
  position: relative;
  overflow: hidden;

  .part2.rightAligned {
    &::after {
      content: none !important;
    }
  }
}

.rightAligned {
  position: absolute !important;
  right: 0;
  bottom: 0;
}

.reverse.overflowing {
  justify-content: flex-start !important;
}
