@import "../../../styles/mixins.scss";

@mixin vars() {
  --heading-font-size: 42px;
  --paragraph-font-size: 30px;
  --top-span: 3px;
  @media (min-width: $tablet) {
    --heading-font-size: 64px;
    --top-span: 5px;
  }

  @media (min-width: $laptop) {
    --paragraph-font-size: 32px;
  }

  @media (min-width: $desktop) {
    --paragraph-font-size: 40px;
    --top-span: 8px;
    --heading-font-size: 90px;
  }
}

.title {
  .part2 {
    text-shadow: 0px 0px 8px rgba(87, 40, 57, 0.5);
  }
}

.overflowing {
  position: relative;
  overflow: hidden;
}

.rightAligned {
  position: absolute;
  right: 0;
  bottom: 0;
}

.reverse.overflowing {
  justify-content: flex-start !important;
}
