@use "@/styles/mixins.scss" as *;

.decorations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .illustrations {
    z-index: 1;
    transform: translateY(calc(var(--scroll-progress) * -200px));
    transition: transform 0.3s ease-out;
    will-change: transform;
  }

  .stars {
    z-index: 0;
    transform: translateY(calc(var(--scroll-progress) * -100px));
    transition: transform 0.5s ease-out;
    will-change: transform;
    .starWrapper {
      svg {
        height: 100% !important;
      }
    }
  }
}
