@import "@/styles/mixins.scss";

.decorativeImage {
  position: absolute;
  background: var(--cream-white);
  // z-index: 2;
  img {
    mix-blend-mode: luminosity;
    width: var(--illustration-width) !important;
    opacity: var(--illu-opacity);
    object-fit: cover;
  }

  &.left {
    transform: translate(-50%, -50%);
  }

  &.right {
    transform: translate(50%, -50%);
  }

  &::after {
    content: "";
    @include absoluteFill;
    background: radial-gradient(
      47.5% 50% at 50% 50%,
      rgba(255, 241, 235, 0) 50.34%,
      #fff1eb 100%
    );
  }
}
