@import "@/styles/mixins.scss";

@mixin vars() {
  --illustration-width: 500px;
  --illu-opacity: 0.15;
  @media (min-width: $tablet) {
    --illustration-width: 500px;
    --illu-opacity: 0.3;
  }

  @media (min-width: $laptop) {
    --illustration-width: 600px;
    --illu-opacity: 0.4;
  }

  @media (min-width: $desktop) {
    --illustration-width: 700px;
  }
}

.block {
  @include vars;
  background: var(--cream-white);
  position: relative;
  overflow: clip;
  overflow-y: visible;
  flex: 1;
  .content {
    z-index: 1; // This is important
  }
}

.default {
  @media (min-width: $desktop) {
    .content {
      max-width: var(--screen-width-large);
    }
  }
}

.full-width {
}

.decorations {
  .illustrations {
    z-index: 1;
  }
  .stars {
    z-index: 0;

    .starWrapper {
      svg {
        height: 100% !important;
      }
    }
  }
}
