@import "@/styles/mixins.scss";

.block {
  position: relative;
  overflow: clip;
  overflow-y: visible;
  flex: 1;
  background: var(--cream-white);
  content-visibility: auto;
  contain-intrinsic-size: auto 500px; // Provide an estimated height

  .content {
    z-index: 1;
    position: relative;
    min-height: 300px;
  }
}

.default {
  @media (min-width: $desktop) {
    .content {
      max-width: var(--screen-width-large);
    }
  }
}

.loadingIndicator {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: var(--gray);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
