@import "@/styles/mixins.scss";

@mixin vars() {
  --border-thickness: 2px;
  --blur: 10px;
  --corner-height: 60px;

  @media (min-width: $tablet) {
    --border-thickness: 3px;
    --blur: 13px;
    --corner-height: 80px;
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
    --border-thickness: 4px;
    --blur: 16px;
    --corner-height: 100px;
  }
}

@mixin animatedGrad() {
  background: linear-gradient(
    90deg,
    var(--green),
    var(--blue),
    var(--green)
  ); // Loopable
  background-size: 200% 100%; // Wide enough to shift
  // animation: spinGradient 5s linear infinite; // Spins every 4s
}
@keyframes spinGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

.app {
  @include vars;
  @include flex();
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: var(--black);
}

.border {
  @include vars;
  position: absolute;
  inset: 0;
  display: block;
  overflow: hidden;
  z-index: 2;

  @include animatedGrad;
  content: "";
  position: absolute;
  inset: 0;
  padding: var(--border-thickness);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  pointer-events: none;
  z-index: 2;
  svg {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.glow {
  @include vars;
  position: absolute;
  inset: 0;
  display: block;
  overflow: hidden;
  z-index: 1;
  &::before {
    @include animatedGrad;
    content: "";
    position: absolute;
    inset: 0;
  }
  &::after {
    content: "";
    background: var(--black);
    position: absolute;
    inset: 0;
    filter: blur(var(--blur));
  }
}

.corners {
  @include vars;
  position: absolute;
  inset: 0;
  display: block;
  overflow: hidden;
  z-index: 1;
  svg {
    position: absolute;
    height: var(--corner-height);
    &:nth-child(1) {
      top: 0;
      left: 0;
      path {
        fill: var(--green);
      }
    }
    &:nth-child(2) {
      transform: scale(1, -1);
      bottom: 0;
      left: 0;

      path {
        fill: var(--green);
      }
    }
    &:nth-child(3) {
      transform: scale(-1, -1);
      bottom: 0;
      right: 0;
      path {
        fill: var(--blue);
      }
    }
    &:nth-child(4) {
      transform: scale(-1, 1);
      top: 0;
      right: 0;
      path {
        fill: var(--blue);
      }
    }
  }
}
