@import "@/styles/mixins.scss";

@mixin vars() {
  --main-color: var(--cream-white);
  --hero-min-height: fit-content;
  --hero-height-1: 540px;
  --hero-height-2: 540px;
  --hero-height-3: fit-content;
  --bg-img-width-3: 100vw;
  --subtitle1-column-span: 4;
  --hero-1-desc-column-span: 7;
  --hero-2-desc-column-span: 7;

  --title-line-height: 0.9em;
  --title-font-size: 140px;
  --profile-image-width-1: 680px;
  --profile-image-width-2: 100%;
  --profile-image-bottom: -320px;
  --profile-image-right: -160px;
  --wordmark-image-width: 200px;
  --wordmark-image-bottom: -40px; //in the case its Bottom
  --wordmark-image-right: 0px; //in the case its Left
  --wordmark-opacity: 0.65;
  --illustration-width: 500px;

  @media (min-width: $tablet) {
    --hero-height-1: 700px;
    --hero-height-2: fit-content;
    // --hero-height-3: 400px;
    --bg-img-width-3: calc(100% * 2 / 3);
    --title-line-height: var(--heading-h2-line);
    --title-font-size: var(--heading-h2);
    --subtitle1-column-span: 4;
    --hero-1-desc-column-span: 7;
    --hero-2-desc-column-span: 4;
    --profile-image-width-1: 900px;
    --profile-image-width-2: 500px;
    --profile-image-bottom: -430px;
    --profile-image-right: -200px;
    --wordmark-image-width: 280px;
    --wordmark-image-bottom: 20px; //in the case its Bottom
    --wordmark-image-right: 20px;
    --wordmark-opacity: 1;
    --illustration-width: 500px;
  }

  @media (min-width: $laptop) {
    --bg-img-width-3: calc(100% * 1 / 2);
    --main-color: none;
    --hero-height-1: 800px;
    --hero-height-2: 600px;
    --hero-1-desc-column-span: 4;
    // --hero-height-3: 320px;
    --title-line-height: var(--heading-h1-line);
    --title-font-size: var(--heading-h1);
    --profile-image-width-1: 950px;
    --profile-image-width-2: 900px;
    --profile-image-bottom: -350px;
    --profile-image-right: -120px;
    --wordmark-image-bottom: 280px;
    --wordmark-image-right: -30px;
    --wordmark-opacity: 1;
    --illustration-width: 600px;
  }

  @media (min-width: $desktop) {
    --hero-height-1: 1100px;
    --hero-height-2: 720px;
    // --hero-height-3: 400px;
    --subtitle1-column-span: 4;
    --hero-2-desc-column-span: 3;
    --hero-1-desc-column-span: 3;
    --title-line-height: 330px;
    --title-font-size: 360px;
    --profile-image-width-1: 1200px;
    --profile-image-width-2: 1400px;
    --profile-image-bottom: -450px;
    --profile-image-right: -5vw;
    --wordmark-image-width: 500px;
    --wordmark-image-bottom: 300px;
    --wordmark-image-right: -60px;
    --illustration-width: 800px;
  }
}

@mixin switchToHorizontal() {
  height: auto;
  .main {
    background-color: transparent;
  }
  .content {
    &::after {
      content: none;
    }
    .subTitle {
      padding-top: 0;
    }

    .backgroundImage {
      min-width: unset;
      &::after {
        left: -200px;
        background: radial-gradient(
            100% 250% at 100% 10%,
            hsl(from var(--cream-white) h s l / 0) 50%,
            var(--light-burgundy) 75%,
            hsl(from var(--cream-white) h s l / 1) 100%
          ),
          hsl(from var(--burgundy) h s l / 60%);
      }
    }
    .foregroundImage {
      left: unset;
      right: var(--profile-image-right);
    }
    .wordMark {
      mix-blend-mode: luminosity;
      z-index: 1;
      path {
        fill: var(--cream-white);
      }
    }
  }
}

.fitContent {
  height: fit-content !important;
  .content {
    height: fit-content !important;
  }
}
.hero {
  @include vars;
  @include flexColumn(flex-start, flex-start);

  position: relative;
  width: 100vw;
  box-sizing: border-box;
  min-height: var(--hero-min-height);
  background-color: var(--cream-white);
  z-index: 1;

  @media (min-width: $laptop) {
    height: var(--hero-height-1);
  }
  .illustration {
    position: absolute !important;
    left: 0;
    bottom: 0;
    background: var(--cream-white);
    transition: transform 0.5s ease-out;
    will-change: transform;
    img {
      mix-blend-mode: luminosity;
      width: var(--illustration-width);
      aspect-ratio: 4/5;
      height: auto;
      opacity: 0.5;

      overflow: hidden;
    }

    &::after {
      content: "";
      @include absoluteFill;
      background: radial-gradient(
        47.5% 50% at 50% 50%,
        rgba(255, 241, 235, 0) 50.34%,
        #fff1eb 100%
      );
    }
  }
  .main {
    background-color: var(--main-color);
  }
  .content {
    position: relative;
    height: var(--hero-height-1);
    .titleAnim {
      @include flex;
      width: 100% !important;
    }
    .title {
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 0 0;
      left: 100%;
      top: 0;
      width: 135vw !important;
    }

    .image {
      position: absolute !important;

      bottom: 0;
      top: 0;
      height: 100%;

      overflow: hidden !important;
      display: flex;
      align-items: flex-start;

      img {
        bottom: var(--profile-image-bottom) !important;
        top: unset !important;
        height: auto !important;
      }
    }
    .backgroundImage {
      z-index: 0;
      overflow-y: clip !important;
      overflow-x: visible !important;
      left: 0;
      right: 0;
      height: auto !important;

      // bottom: unset;
      img {
        top: -150px !important;
        left: -50px !important;
        transform: scale(1.15);
      }

      &::after {
        content: "";
        @include absoluteFill;
        background: radial-gradient(
            150% 125% at 100% 0%,
            hsl(from var(--cream-white) h s l / 0) 35%,
            hsl(from var(--cream-white) h s l / 0.75) 60%,
            hsl(from var(--cream-white) h s l / 1) 85%
          ),
          hsl(from var(--burgundy) h s l / 60%);
      }
    }
    .foregroundImage {
      z-index: 2;
      left: var(--profile-image-right);
      right: unset;

      img {
        transform: translateY(calc(var(--scroll-progress) * -100px)) !important;
        transition: transform 0.3s ease-out;
        will-change: transform;
      }
    }

    .subTitle {
      z-index: 1;
      padding-top: var(--pad-4);
    }
    .wordMark {
      position: absolute;
      width: var(--wordmark-image-width);
      opacity: var(--wordmark-opacity);
      filter: drop-shadow(var(--text-shadow));
      z-index: 3;
      path {
        fill: var(--burgundy);
      }
    }
  }
}

.version1 {
  .content {
    &::after {
      content: "";
      @include absoluteFill;
      min-width: 100vw;
      width: 100vw;
      background: linear-gradient(
        185deg,
        hsl(from var(--cream-white) h s l / 0) 60%,
        hsl(from var(--cream-white) h s l / 1) 91%
      );
      z-index: 2;
    }
  }
  .image {
    width: var(--profile-image-width-1) !important;
  }
  .illustration {
    transform: translate(
      -50%,
      calc(25% + calc(var(--scroll-progress) * -200px))
    );
  }
  .backgroundImage {
    min-width: 100vw;
    img {
      filter: var(--blur) saturate(0%);
    }
  }

  // .foregroundImage {
  //   right: 0 !important;
  // }
  .wordMark {
    bottom: var(--wordmark-image-bottom);
    left: var(--wordmark-image-right);
  }
  .title {
    z-index: 3 !important;
    h1 {
      font-size: var(--title-font-size) !important;
      line-height: var(--title-line-height) !important;
    }
  }
  .subTitle {
    width: calc(var(--subtitle1-column-span) / 7 * 100%);
  }
  .textWrapper {
    .desc {
      width: calc(var(--hero-1-desc-column-span) / 7 * 100%);
    }
  }

  @media (min-width: $laptop) {
    @include switchToHorizontal;

    .content {
      .image {
        left: unset !important;
        right: var(--profile-image-right) !important;
        img {
          top: unset !important;
          left: unset !important;
          transform: unset;
        }
      }
      .title {
        position: relative !important;
        transform: none !important;
        left: 0 !important;
        z-index: 0 !important;
      }
      .wordMark {
        left: unset !important;
        right: var(--wordmark-image-right);
      }
    }
  }
}

.version2 {
  .illustration {
    transform: translate(
      -50%,
      calc(40% + calc(var(--scroll-progress) * -200px))
    );
  }

  .content {
    height: var(--hero-height-2);
    min-height: 125vw;
    .image {
      width: var(--profile-image-width-2) !important;
      background: var(--cream-white);
      img {
        mix-blend-mode: luminosity !important;
        top: 0 !important;
        left: 0 !important;
        height: 100% !important;
      }
    }
    .title {
      width: 135vw !important;
    }
    .subTitle {
      width: 75%;
      mix-blend-mode: multiply !important;
    }
    .wordMark {
      width: calc(var(--wordmark-image-width) * (3 / 4));

      bottom: var(--pad-3);
      left: var(--pad-3);
    }
    .textWrapper {
      .desc {
        width: calc(var(--hero-2-desc-column-span) / 7 * 100%);
      }
    }
  }

  .main {
    padding-top: 0;
  }

  @media (min-width: $tablet) {
    @include switchToHorizontal;
    height: var(--hero-height-2);

    .content {
      min-height: auto !important;
      .backgroundImage {
        right: 0;
        left: unset !important;
        background: var(--burgundy);

        img {
          inset: 0 !important;
          top: 50% !important;
          height: 100% !important;
          transform: translateY(-50%) !important;
        }
        &::after {
          width: 100% !important;
          left: 0 !important;
          background: radial-gradient(
              100% 150% at 100% 10%,
              hsl(from var(--cream-white) h s l / 0) 0%,
              hsl(from var(--cream-white) h s l / 1) 100%
            ),
            hsl(from var(--burgundy) h s l / 20%);
        }
      }
      .wordMark {
        bottom: 0;
        right: 0;
        left: unset;
      }
      .title {
        position: relative !important;
        transform: none !important;
        left: 0 !important;

        width: 100% !important;
      }
    }
  }
  @media (min-width: $laptop) {
    .subTitle {
      width: calc(var(--subtitle1-column-span) / 7 * 100%);
    }
    .textWrapper {
      .desc {
        width: calc(var(--hero-2-desc-column-span) / 7 * 100%);
      }
    }
  }
}

.version3 {
  @include flex(center, flex-start);
  height: var(--hero-height-3);
  min-height: 240px;

  .main {
    background: none !important;
  }

  .content {
    background-color: var(--burgundy) !important;
    height: fit-content;
    .backgroundImage {
      position: relative !important;
      width: var(--bg-img-width-3) !important;
      aspect-ratio: 1;
      img {
        inset: 0 !important;
      }
      &::after {
        background: linear-gradient(
          180deg,
          hsl(from var(--burgundy) h s l / 0) 0%,
          var(--burgundy) 100%
        );
      }
    }

    &::after {
      content: "";
      @include absoluteFill;
      background: linear-gradient(
        32deg,
        hsl(from var(--light-burgundy) h s l / 0.75) 0%,
        hsl(from var(--light-burgundy) h s l / 0) 21.01%
      );
      backdrop-filter: blur(var(--pad-1));
    }

    .title {
      justify-content: center !important;
      position: relative !important;
      transform: none !important;
      left: unset !important;
      padding: 0 !important;
      margin-top: calc(-1 * var(--pad-10));
      h1 {
        text-shadow: var(--text-shadow);
      }
    }
  }

  @media (min-width: $tablet) {
    .content {
      .backgroundImage {
        position: absolute !important;
        right: 0;
        left: unset !important;
        img {
          inset: 0 !important;
          top: 50% !important;
          transform: translateY(-50%) !important;
        }
        &::after {
          content: none !important;
        }
      }
      .title {
        margin-top: 0 !important;
      }
      &::after {
        content: "";
        @include absoluteFill;
        background: linear-gradient(
            90deg,
            var(--light-burgundy),
            hsl(from var(--light-burgundy) h s l / 0) 66.6%
          ),
          linear-gradient(270deg, rgba(133, 61, 87, 0) 0%, #853d57 50%);

        backdrop-filter: blur(var(--pad-1));
      }
    }
  }
}
