@import "../../../styles/mixins.scss";

@mixin vars() {
  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --title-line-height: var(--heading-h1-line);
    --title-font-size: var(--heading-h1);
  }

  @media (min-width: $desktop) {
    --title-line-height: 330px;
    --title-font-size: 360px;
  }
}

.hero {
  @include vars;
  @include flexColumn(flex-start, flex-start);

  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - var(--navbar-height));
  background-color: var(--cream-white);
  .illustration {
    position: absolute !important;
    left: 0;
    top: var(--title-line-height);
    transform: translateX(-50%);

    img {
      mix-blend-mode: luminosity;
      width: 800px;
      opacity: 0.5;
    }

    &::after {
      content: "";
      @include absoluteFill;
      background: radial-gradient(
        47.5% 50% at 50% 50%,
        rgba(255, 241, 235, 0) 50.34%,
        #fff1eb 100%
      );
    }
  }
  .content {
    .title {
      h1 {
        font-size: var(--title-font-size) !important;
        line-height: var(--title-line-height) !important;
      }
    }

    .image {
      position: absolute !important;
      right: 0;
      width: 62.5vw !important;
      top: -120px;
      bottom: 0;

      height: auto !important;
      overflow: hidden !important;
      img {
        height: auto !important;
      }
    }
    .backgroundImage {
      z-index: 0;
      img {
        filter: blur(calc(var(--pad-3, 8px) / 2)) saturate(0%);
      }

      &::after {
        content: "";
        @include absoluteFill;
        background: radial-gradient(
            100% 250% at 100% 9.7%,
            rgba(255, 241, 235, 0) 50%,
            #dcb2c1 75%,
            #fff1eb 100%
          ),
          hsl(from var(--burgundy) h s l / 60%);
      }
    }
    .foregroundImage {
      z-index: 2;
    }

    .textWrapper {
      .subTitle1 {
        width: calc(4 / 7 * 100%);
      }
      .desc {
        width: calc(3 / 7 * 100%);
      }
    }
    .wordMark {
      position: absolute;
      width: 640px;
      transform: rotate(-15deg);
      right: -80px;
      top: 200px;
      opacity: 0.5;
      mix-blend-mode: luminosity;
      filter: drop-shadow(var(--text-shadow));

      path {
        fill: var(--cream-white);
      }
    }
  }
}
