@use "@/styles/mixins.scss" as *;

@mixin vars() {
  --font-size-big: var(--paragraph-regular);

  @media (min-width: $tablet) {
    --font-size-big: var(--heading-h6);
  }
}

.small {
  font-size: var(--paragraph-small);
}

.regular {
  font-size: var(--paragraph-regular);
}

.big {
  @include vars;
  font-size: var(--font-size-big);
}

.paragraph {
  width: 100%;
  line-height: 1.25em;
}

.clickable {
  &:hover {
    color: var(--burgundy) !important;
  }
}
