@import "../../../styles/mixins.scss";

@mixin vars() {
  --height: 48px;
  --pill-width: 42px;
  --pad-top: 3px;
  --pad-right: 0;

  @media (min-width: $laptop) {
    --height: 40px;
    --pill-width: 36px;
    --pad-top: 2px;
    --pad-right: 1px;
  }

  @media (min-width: $desktop) {
    --height: 48px;
    --pill-width: 42px;
    --pad-top: 3px;
    --pad-right: 0;
  }
}

.pill {
  @include vars;
  height: var(--height);

  // border-radius: var(--border-radius);

  max-width: fit-content;
  width: fit-content;

  &.version1 {
    background: var(--white);
    border-radius: calc(var(--height) / 2);
    box-shadow: var(--light-shadow);
  }
  &.version2 {
    background: transparent;
  }
  .value {
    background: var(--cream-white);
    height: 100%;
    aspect-ratio: 1;
    width: auto; /* Adjust width based on content */
    max-width: var(--pill-width);
    text-decoration: none !important;
    border: none !important;
    font-size: var(--paragraph-regular);
    line-height: 1.25em;
    padding: 0;
    padding-top: var(--pad-top);
    padding-right: var(--pad-right);
    text-align: center;
    color: var(--burgundy);
    border-radius: var(--border-radius);
    box-shadow: inset var(--light-shadow);
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Other browsers */
    /* Styles for the input field when focused */

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  /* Styles for the input field to remove the up and down arrows */
}
