@import "@/styles/mixins.scss";

@mixin vars() {
  --container-gap: var(--pad-5);
  --logo-width: var(--pad-11);
  --border-width: 4px;
  @media (min-width: $tablet) {
    --logo-width: 160px;
  }

  @media (min-width: $laptop) {
    --logo-width: 160px;
  }

  @media (min-width: $desktop) {
    --logo-width: 192px;
    --container-gap: var(--pad-6);
  }
}

.footer {
  @include flex;
  @include vars;

  width: 100vw;
  background: var(--dark-burgundy);
  border-top: var(--pad-1) solid var(--light-burgundy-30);
}

.tabletContainer {
  min-width: 0;
  .right {
    min-width: min-content; /* or use a specific pixel value */
    width: auto;
    flex: 1;
    flex-shrink: 0; /* Prevent shrinking */
    .content {
      flex: 1;
      width: 100%;
      .left {
        flex: 1;
      }
    }
  }
}

.mobileContainer {
  .siteMap {
    justify-content: center !important;
    > * {
      align-items: center !important;
    }
    p {
      text-align: center !important;
    }
  }
}

.logo {
  width: var(--logo-width);
  a {
    width: 100%;
    svg {
      fill: var(--light-burgundy);
    }
  }
}

.siteMap {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, 160px);
  row-gap: var(--pad-6) !important;
  justify-content: start !important;
  direction: rtl;
  min-width: 160px;
  width: max-content;
  // justify-items: end;
  // grid-auto-flow: dense;
}

.hoursContainer {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1)
  );
  height: fit-content;
  border-radius: var(--border-radius);
  border: 2px solid var(--light-burgundy-30);
  box-shadow: var(--light-shadow);

  .hours {
    p {
      width: fit-content !important;
      text-wrap: nowrap;
    }
  }
}

.legalLinks {
  row-gap: var(--pad-4) !important;
}
