@import "@/styles/mixins.scss";

@mixin vars() {
  --columns: 1;
  --product-tab-img-size: 100px;
  --wrap: wrap;
  @media (min-width: $tablet) {
    --columns: 2;
    --wrap: nowrap;
  }

  @media (min-width: $laptop) {
    --columns: 3;
    --product-tab-img-size: 100px;
  }

  @media (min-width: $desktop) {
    --columns: 4;
    --product-tab-img-size: 128px;
  }
}

.wrapper {
  @include vars;
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.product {
  .image {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    box-shadow: var(--light-shadow);

    img {
      transition: var(--transition-time);
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.textWrapper {
  p {
    width: auto !important;
  }
}

.productModal {
  @media (min-width: $laptop) {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
  }

  > * {
    &:first-child {
      grid-column: span 2;
    }
  }
  .image {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 1;
    border-radius: var(--border-radius);
    box-shadow: var(--light-shadow);
  }

  .info {
    grid-column: span 3;

    .cartButtonWrapper {
      position: relative;
    }
  }
}

.productTab {
  @include vars;
  flex-wrap: var(--wrap) !important;
  background-color: var(--white);
  border-radius: var(--border-radius);
  @media (min-width: $laptop) {
    justify-content: space-between;
  }
  .left {
    .image {
      height: var(--product-tab-img-size) !important;
      min-width: var(--product-tab-img-size) !important;
      width: var(--product-tab-img-size) !important;
      border-radius: var(--border-radius);
    }
    // .text {
    //   .desc {
    //     $number-of-lines: 2;
    //     width: 100% !important;
    //     text-wrap: wrap;
    //     display: -webkit-box; /* Enables the flexbox-based truncation */
    //     -webkit-box-orient: vertical; /* Sets the box's orientation to vertical */
    //     overflow: hidden; /* Hides the overflowing text */
    //     text-overflow: ellipsis; /* Adds the three dots (...) */
    //     -webkit-line-clamp: $number-of-lines; /* Limits the paragraph to 3 lines */
    //     max-height: calc(1.25em * $number-of-lines);
    //     padding-bottom: 0 !important;
    //     margin-bottom: var(--pad-2);
    //   }
    // }
  }
  .right {
    row-gap: var(--pad-4) !important;
  }
}
