@import "../../../styles/mixins.scss";

@mixin vars() {
  --min-width: auto;
  --width: 100%;
  @media (min-width: $tablet) {
    --width: auto;
    --min-width: 125px;
  }

  @media (min-width: $laptop) {
  }

  @media (min-width: $desktop) {
  }
}

.container {
  @include vars;
  position: relative;
  width: var(--width);

  .select {
    cursor: pointer;
    padding: 4px 16px 4px !important;
    border-radius: var(--border-radius-small);
    background-color: var(--white);
    min-width: var(--min-width);
    width: var(--width);
    box-shadow: var(--drop-shadow);

    p {
      padding-top: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .dropdown {
    // @include dropDown;
    z-index: 2;
    background: var(--white);
    position: absolute;
    min-width: 100%;
    width: fit-content;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + var(--pad-3)));
    border-radius: var(--border-radius-small);
    box-shadow: var(--light-shadow);
    .selected {
      background: var(--light-burgundy-30);
      border-top: 1px solid var(--light-burgundy);
      border-bottom: 1px solid var(--light-burgundy);
    }

    .check {
      @include flex;
      $check-width: 20px;
      min-width: $check-width;
      min-height: $check-width;
      max-width: $check-width;
      max-height: $check-width;
      box-sizing: border-box;
      padding: var(--pad-2, 4px);
      border-radius: var(--border-radius-small);

      border: 1px solid var(--light-burgundy);
    }
    .checked {
      .check {
        background: var(--cream-white);
      }
    }
    .tab {
      &:hover {
        background: var(--cream-white);
      }
      p {
        text-wrap: nowrap;
      }
    }
  }

  .checkmark {
    margin-left: 10px;
  }
}
