@use "@/styles/mixins.scss" as *;

.app {
  @include flexColumn(flex-start, flex-start);

  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: var(--cream-white);
  .page {
    @include flexColumn(flex-start, flex-start);

    background-color: var(--cream-white);
    padding-top: var(--navbar-height);
    padding-bottom: var(--content-bottom-padding);

    width: 100%;
    flex: 1;
    overflow: hidden;
  }
}
