@import "@/styles/mixins.scss";

@mixin vars() {
  --columns: 1;
  --grad: hsl(from var(--dark-burgundy) h s l / 0.4) 0%,
    hsl(from var(--dark-burgundy) h s l / 0.1) 50%;
  --row-gap: var(--pad-6);
  @media (min-width: $tablet) {
    --columns: 2;
    --row-gap: var(--pad-4);
  }

  @media (min-width: $laptop) {
    --columns: 3;
    --row-gap: var(--pad-5);
  }

  @media (min-width: $desktop) {
    --columns: 4;
    --row-gap: var(--pad-6);
  }
}

.image {
  aspect-ratio: 4/5;
  box-shadow: var(--light-shadow);
  border-radius: var(--border-radius);
  position: relative !important;
  overflow: hidden;
}

.modalImage {
  width: 100% !important;
  @media (min-width: $laptop) {
    width: 50vw !important;
  }
}

.flashModalContainer {
  overflow: hidden;
  position: relative;
  @media (min-width: $laptop) {
    flex-direction: row !important;
    .modalImageWrapper {
      margin-bottom: var(--pad-9);
      top: 0;
      position: sticky !important;
      .modalImage {
        width: 100% !important;
      }
    }
  }
}

.reserverWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: hsl(from var(--white) h s l / 0.5);
  backdrop-filter: var(--blur);
  border-bottom-left-radius: var(--border-radius-large);
}

.toilesModalContainer {
  @media (min-width: $laptop) {
    width: 50vw !important;
  }
  .cartButtonWrapper {
    position: relative;
  }
  .top {
    row-gap: var(--pad-3) !important;
  }
}

.wrapper {
  @include vars;
  display: grid !important;
  grid-template-columns: repeat(var(--columns), 1fr);
  // row-gap: var(--row-gap) !important;

  .container {
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }

    &.flash {
      .image {
        background: var(--cream-white);
        box-shadow: none;
        &::after {
          content: "";
          @include absoluteFill;
          position: absolute;
          background: radial-gradient(
            50% 50% at 50% 50%,
            hsl(from var(--cream-white) h s l / 0) 60%,
            var(--cream-white) 100%
          );
        }

        img {
          mix-blend-mode: luminosity;
          filter: brightness(103.5%);
        }
      }
    }
    .text {
      position: relative;
      .title {
        font-size: var(--heading-h6) !important;
        line-height: var(--heading-h6-line) !important;
      }
      .line {
        position: absolute;
        width: calc(100% + 20px);
        height: 12px;
        bottom: 10px;
        path {
          fill: var(--burgundy);
        }
      }
      p {
        width: auto !important;
      }
      .infini {
        height: 1em;
        fill: var(--burgundy);
        margin-bottom: 0.3em;
      }
    }
  }
}

.navButtons {
  .title {
    margin-top: var(--pad-3);
  }
}
