@use "@/styles/mixins.scss" as *;

.card {
  position: relative;
  @include gradBorderWrapper();
  border-radius: 8px;
  &:hover {
    &::before {
      inset: 0px;
      filter: blur(16px);
      transition: var(--transition-time) ease;
    }
    .image {
      img {
        transform: scale(1.05);
        transition: var(--transition-time) ease;
      }
    }
  }

  .text {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: -1.5px;
      left: 0;
      right: 0;
      height: 1.5px;
      @include fixedGradBackground;
    }
    z-index: 1;
  }
  .image {
    margin: 1.5px;
    width: calc(100% - 3px) !important;
    aspect-ratio: 4/3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    img {
      transition: var(--transition-time-backoff);
    }
  }
}
