@import "../../../styles/mixins.scss";

@mixin vars() {
  --logo-size: 80px;
  --sidebar-width: 100%;
  --logo-translateY: -20px;
  --logo-translateY-hover: -12px;
  --logo-color: var(--burgundy);

  @media (min-width: $tablet) {
  }

  @media (min-width: $laptop) {
    --logo-translateY: -20px;
    --logo-translateY-hover: -12px;
  }

  @media (min-width: $desktop) {
    --logo-translateY: -24px;
    --logo-translateY-hover: -14px;
    --logo-size: 100px;
  }
}

.logo {
  @include vars;

  cursor: pointer;
  height: 100%;
  transition: 200ms;
  transform: translateY(var(--logo-translateY));
  svg {
    height: 100%;
    width: var(--logo-size);
    path {
      fill: var(--burgundy);
    }
  }
  &:hover {
    transform: translateY(var(--logo-translateY-hover));
  }

  &.light {
    path {
      fill: var(--light-burgundy);
    }
  }
}

.navbarWrapper {
  @include vars;
  @include flex;
  position: fixed;
  top: 0;
  width: 100vw;
  height: var(--navbar-height);
  z-index: 10;
  transition: 500ms;
  background: var(--cream-white, #fff);

  .navbar {
    width: 100%;
    position: relative;
  }
}

.scrolled {
  padding: 0;
}

.burger {
  @include flex;

  position: absolute;
  left: var(--pad-3);
}
