@import "@/styles/mixins.scss";

@mixin vars() {
  --image-width: 240px;
  @media (min-width: $tablet) {
  }
  @media (min-width: $laptop) {
  }
  @media (min-width: $desktop) {
    --image-width: 320px;
  }
}

.wrapper {
  @include vars;
  @media (min-width: $laptop) {
    display: grid !important;
    grid-template-columns: 1fr calc(var(--image-width) * 1.8);
  }
  position: relative;

  .rightSide {
    height: 100%;
    position: relative;
    figure {
      position: absolute !important;
      width: var(--image-width) !important;
      height: var(--image-width) !important;
      display: flex !important;
      justify-content: flex-start;
      overflow: visible !important;
      pointer-events: none;

      img {
        border-radius: var(--border-radius);
        box-shadow: var(--drop-shadow);
        position: relative !important;
        transition: var(--transition-time);
        pointer-events: auto;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:first-child {
        left: 50%;
        transform: translateX(-50%);
        top: 0;
      }
      &:nth-child(2) {
        left: 0;
        top: calc(var(--image-width) - var(--pad-6));
      }
      &:last-child {
        right: 0;
        top: calc(2 * (var(--image-width) - var(--pad-6)));
      }
    }
  }
}
