@use "@/styles/mixins.scss" as *;

.gradientSvg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  //   display: none; /* Hidden, only provides gradient definition */
}
