@use "@/styles/mixins.scss" as *;

.overlay {
  position: absolute;
  content: "";
  width: 100%;

  background-color: var(--darkest-burgundy);
  opacity: 0.95;
  height: 100vh;
  z-index: -1;
}

.sidebar {
  @include flexColumn(flex-start, stretch);

  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;

  &.isOpen {
    transition: 500ms ease;
    transform: translateX(0);
  }

  .closeTab {
    min-height: var(--navbar-height);
    background-color: var(--darkest-burgundy);
    path:global(.x) {
      fill: var(--cream-white);
    }
  }

  .tabs {
    .tabWrapper {
      background-color: var(--cream-white);
      width: 100%;
      border-bottom: 1px solid var(--light-burgundy-30);
    }
    .bottom {
      .tabWrapper {
        border-bottom: none;
        &:last-child {
          height: 100%;
          align-items: flex-end !important  ;
        }
      }
    }
  }
}
